.events-card {
  display: flex;
  flex-direction: row;
  width: calc(100% - 24px);
  margin: 12px auto;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 16px;
  box-sizing: border-box;
  align-items: flex-start;
  height: 400px;
}

.events-text-content {
  width: 60%;
  padding: 16px;
  box-sizing: border-box;
}

.events-card-description {
  font-size: 1rem;
  color: black;
  margin-bottom: 16px;
}

.events-card-more {
  position: absolute;
  bottom: 16px; /* Adjust as needed */
  left: 16px; /* Adjust as needed */
  width: calc(40% - 32px); /* Adjust as needed */
}

.view-more-button {
  background-color: #ffe1f5;
  color: black;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.events-image-slider {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 16px;
  /* height: 300px;  */
  height: fit-content;
}

.events-image-slider img {
  /* height: 300px; Maintain image proportions */
  width: auto; /* Ensure image fills the container */
  object-fit: contain;
  transition: transform 0.3s ease;
}
.events-image-slider img:hover {
  transform: scale(1.2); /* Enlarge the image */
}

.events-card-subtitle {
  font-size: 1.5rem;
  font-weight: 600;
  color: hsl(240, 67%, 80%);
  margin-bottom: 8px;
}

@media (max-width: 768px) {
  .events-card {
    flex-direction: column;
    /* height: 900px; */
    height: max-content;
  }

  .events-text-content {
    width: 100%;
    max-height: none; /* Remove max-height restriction for smaller screens */
  }

  .events-image-slider {
    width: 100%;
    height: auto;
  }

  .events-card-more {
    width: calc(100% - 32px);
    left: 16px;
  }
}




/* Keyframes for slide-in animation */
@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}


/* Class to trigger slide-in animation */
.events-card.slide-in {
  animation: slideInFromLeft 1.7s ease-out forwards;
}
