.events-card {
  display: flex;
  flex-direction: row;
  width: calc(100% - 24px); /* Full width minus margins */
  margin: 12px auto; /* Center the card with minimal margins */
  border-radius: 8px; /* Rounded corners */
  background-color: #fff; /* White background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
  overflow: hidden;
}

.events-text-content {
  width: 55%; /* Adjusted width for text content */
  padding: 24px; /* Padding for text content */
}

.events-image-slider {
  width: 45%; /* Adjusted width for image slider */
  padding: 16px 24px; /* Up and down padding for image slider */
  display: flex;
  justify-content: center;
  align-items: center;
}

.events-card-main-title {
  font-size: 2.5rem; /* Larger main heading size */
  font-weight: 700;
  color:	black; /* Slightly darker lavender text color */
  margin-bottom: 8px;
}

.events-card-subtitle {
  font-size: 1.5rem; /* Smaller secondary heading size */
  font-weight: 600;
  color: 		black; /* Slightly darker lavender text color */
  margin-bottom: 8px;
}

.events-card-description {
  font-size: 1rem; /* Adjust paragraph size */
  color: 		black; /* Slightly darker lavender text color */
  margin-bottom: 16px;
}

