.App {
  background-color: #f9f9f9;
  min-height: 100vh;
  padding: 16px;
}
.about-us {
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
}

.about-us h1 {
  margin-bottom: 40px;
  font-size: 36px;
  font-weight: bold;
}

.about-us-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.about-us-card {
  background-color:#F5F6F7;
  border-radius: 10px;
  padding: 20px;
  margin: 10px 0px;
  flex: 1;
  min-width: 300px;
  max-width: 30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.about-us-card:hover {
  transform: translateY(-10px);
}

.about-us-card h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.about-us-card p {
  font-size: 16px;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .about-us-card {
    max-width: 100%;
    margin: 15px;
  }
}

.team-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  background-color: white;
  border-radius: 8px;
  margin: 20px auto;
  width: 97%;
}

.team-info h2 {
  font-size: 30px;
  font-weight: 600;
  margin-top: 13px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.members,
.nominees {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.card {
  width: 200px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: "Lora",serif;
  position: relative;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  max-height: 270px;
  /* Initial height without links */
}

.avatar-placeholder {
  width: 80px;
  height: 80px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 auto 10px;
}

.card h2 {
  margin: 0;
  font-size: 18px;
}

.card p {
  margin: 5px 0;
  color: #777;
}

.links {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  margin-top: 10px;
}

.links a {
  text-decoration: none;
  color: #fff;
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
  margin: 0 5px;
  display: inline-block;
}

.card:hover {
  max-height: 400px;
  /* Height with links visible */
}

.card:hover .links {
  opacity: 1;
  visibility: visible;
}

.current-initiatives {
  padding: 16px;
  /* margin-bottom: 0; */
  padding-bottom: 2px;
}

.history-container{
  padding: 40px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 99%;
  margin: auto;
}
.history-container h2 {
  font-size: 30px;
  margin-top: 16px;
}

.history-container p {
  margin: 8px 0;
}

.history-container ul {
  list-style-type: disc;
  padding-left: 20px;
  margin: 8px 0;
}

.history-container ul li {
  margin: 4px 0;
}

.mainheading {
  font-size: 30px;
  font-weight: 900;
  width: fit-content;
  margin: 0 auto;
}