.page {
  padding: 0px;
}

.section-event-gallery {
  margin: 20px auto;
  max-width: 1500px;
  padding: 10px;
}

.gallery {
  display: flex;
  justify-content: center;
}

.main-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .main-gallery {
    flex-direction: column;
  }
}

.heading1 {
  margin-bottom: 13px;
  color: hsl(240, 69%, 75%);
}

.app-gallery {
  display: flex;
  flex-direction: column;
  padding: 3rem 0;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: hsl(240, 67%, 94%);
}

.maintitle {
  text-align: center;
  font-size: 50px;
  margin: 20px;
  color: #ffffff;
  font-family: Dance;
  letter-spacing: 2px;
}

.app-gallery-images {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  max-width: 95%;
  position: relative;
}

.app-gallery-images_container {
  display: flex;
  overflow-x: auto;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.app-gallery-images_container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.app-gallery-images_card {
  position: relative;
  min-width: fit-content;
  margin-right: 1rem;
  margin-left: 1rem;
  position: sticky;
  left: 5vw;
  display: flex;
}

.app-gallery-images_card .gallery-image {
  max-width: 100%;
  width: max-content;
  height: auto;
  height: 70vh;
  width: 90vh;
}

.app-gallery-images_arrows {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  position: absolute;
  bottom: 5%;
}

.gallery-arrow-icon {
  font-size: 2.5rem;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%; /* Circular shape */
  background: hsl(240, 30%, 75%); /* Light lavender background color */
  color: #555; /* Dark grey text color */
  transition: background 0.3s, color 0.3s; /* Added color transition */
}

.gallery-arrow-icon:hover {
  background: hsl(240, 67%, 80%); /* Slightly darker lavender background on hover */
  color: #fff; /* White text color on hover */
}
.gallery-arrow-icon:active {
  background: hsl(240, 57%, 68%); /* Slightly darker lavender background on hover */
  color: #fff; /* White text color on hover */
}


/* Stylish arrow icons */
.gallery-arrow-icon::before {
  content: '';
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  border-top: 0.2em solid #555; /* Arrow color */
  border-right: 0.2em solid #555; /* Arrow color */
}

.gallery-arrow-prev::before {
  transform: rotate(-135deg); /* Left arrow */
}

.gallery-arrow-next::before {
  transform: rotate(45deg); /* Right arrow */
}

.gallery-arrows-div {
  background: transparent;
  padding: 3px;
  border-radius: 10px;
}

.gallery-arrow-icon:hover {
  color: rgb(255, 185, 33);
}

.app-gallery-images_card:nth-child(1) img {
  transform: scale(0.75) rotate(-10deg);
}

.app-gallery-images_card:nth-child(2) img {
  transform: scale(0.75) rotate(-7deg);
}

.app-gallery-images_card:nth-child(3) img {
  transform: scale(0.75) rotate(-4deg);
}

.app-gallery-images_card:nth-child(4) img {
  transform: scale(0.75) rotate(-1deg);
}

.app-gallery-images_card:nth-child(5) img {
  transform: scale(0.75) rotate(2deg);
}

.app-gallery-images_card:nth-child(6) img {
  transform: scale(0.75) rotate(5deg);
}

.app-gallery-images_card:nth-child(7) img {
  transform: scale(0.75) rotate(8deg);
}

.app-gallery-images_card:nth-child(8) img {
  transform: scale(0.75) rotate(11deg);
}

@media (width <= 750px) {
  .app-gallery-images_card .gallery-image {
    width: max-content;
    height: auto;
  }
}
.app-gallery-content-heading{
  /* gallery heading changed bigger font size and  */
  color: rgb(87, 87, 255);
  font-size:xx-large;
  font-weight: 700;
}
