#page {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  /* Dark background */
  z-index: 9999;
  /* Ensure it's on top of other content */
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#loading-text {
  color: white;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  /* Ensure the image is on top of the rings */
}

#loading-text img {
  max-width: 200px;
  /* Adjust the size as needed */
}

#ring {
  width: 350px;

  to {
    transform: rotateX(70deg) rotateZ(630deg);
  }
}