* {
  box-sizing: border-box;
}

body {
  font-family: "Lora",serif;
  margin: 0;
  padding: 0;
  color: #333;
  /* background-color: #f5f5f5; */
}
p{
  margin-top: 13px;
}
.section {
  margin-bottom: 20px;
  /* background-color: whitesmoke; */
  padding: 35px 85px;
  /* border-radius: 5px; */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  width: 100%;
  margin-left: auto;
  margin-right: auto;

}

.bold{
  font-weight: bold;
  font-size: 24px;
}
.bold1{
  font-weight: bold;
  font-size: 19px;
}

.link1 { 
  color: blue;
  background-color: transparent;
  text-decoration: none;
}
#mandate{
  margin-top: 20px;
}
@media (max-width:720px) {
  .section{
    padding: 2.5rem;
  }
}
section h2 {
  border-bottom: 2px solid #333;
  padding-bottom: 10px;
  color: black;
}

.faqs{
  
  /* background-color: whitesmoke; */
  padding: 35px 50px;
  border-radius: 5px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  width: 97%;
  margin: auto;
  margin-bottom: 16px;
  margin-top: 5px;
}


.container1 {
  width: 97%;
  margin: 15px auto;
  
  /* background-color: whitesmoke; */
  padding: 35px 35px;
  border-radius: 5px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */

}

.title {
  font-size: 2em;
  color: #333;
  
}

.subtitle {
  font-size: 1.5em;
  color: #666;
}

.description {
  font-size: 1em;
  color: #666;
  margin-bottom: 20px;
}
.resources{
  width: 100%;
}
.resources-table {
  width: 97%;
  border-collapse: collapse;
  padding-left: 25px;
}

.resources-table th, .resources-table td {
  border: 1px solid #ddd;
  padding: 8px;
  border: none; 
}

@media (max-width: 720px) {
  .faqs{
    padding: 30px 20px;
  }
  .container1{
    padding: 30px 20px  ;
  }
  .resources-table th, .resources-table td {
    display: flex;
    text-decoration: none;
    flex-wrap: wrap;
  }
}

.resources-table th {
  /* background-color: #f2f2f2; */
  text-decoration: underline;
  font-size: 24px;
  text-align: left;
  font-weight: 300;
}

.resources-table td a {
  color: #007bff;
  text-decoration: none;
}

.resources-table td a:hover {
  text-decoration: underline;
}

.text-collapsed {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  /* width: 200px; adjust based on your design */
  height: 200px;
  display: inline-block;
}

.text-expanded {
  white-space: normal;
}
.text-collapsed1 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  /* width: 200px; adjust based on your design */
  height: 150px;
  display: inline-block;
}

.text-expanded11 {
  white-space: normal;
}
.tables{
  display: flex;
  flex-direction: column;
}