.card1 {
    text-align: center;
    margin: 20px;
  }
  
  .card-link {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .icon-container {
    background-color: #3b5998;
    border-radius: 50%;
    padding: 20px;
    margin-bottom: 10px;
  }
  
  .card-icon {
    width: 100px;
    height: 100px;
  }
  
  .card1 p {
    margin: 0;
    font-size: 16px;
  }
  
  .card-link:hover p {
    text-decoration: underline;
  }
  .links-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: rgb(242, 237, 255);
    width: 100%;
    /* margin: 25px auto; */
    /* border-radius: 10px; */
  }