@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
.poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400 ; 
    font-style: normal;
  }
  
  /* .domine-<uniquifier> {
    font-family: "Domine", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  } */

.domine-500 {
    font-family: "Domine", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
/* .lora-<uniquifier> {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

.lora-400 {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.lora-500 {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  /* font-style: italic; */
}
.lora-700 {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  /* font-style: italic; */
}

.lora-600 {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  /* font-style: italic; */
}


/* .rubik-<uniquifier> {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
.rubik-400 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}